/* Constants */
$open-sans-font-folder: 'assets/fonts/';

/* Register fonts */
@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url($open-sans-font-folder + 'open-sans-v17-latin-regular.woff2') format('woff2'),
        url($open-sans-font-folder + 'open-sans-v17-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: italic;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url($open-sans-font-folder + 'open-sans-v17-latin-italic.woff2') format('woff2'),
        url($open-sans-font-folder + 'open-sans-v17-latin-italic.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url($open-sans-font-folder + 'open-sans-v17-latin-800.woff2') format('woff2'),
        url($open-sans-font-folder + 'open-sans-v17-latin-800.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
        url($open-sans-font-folder + 'open-sans-v17-latin-800italic.woff2') format('woff2'),
        url($open-sans-font-folder + 'open-sans-v17-latin-800italic.woff') format('woff');
}

/* Root style */
html {
	/* Set global font */
	font-family: 'Open Sans';
	font-size: 16px;

	/* Detect internet explorer */
	.browser-ie { display: none; }
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .browser-ie { display: block; } }
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	display: block;
}

main {
	padding-top: 54px;
}
