/* Constants */
$open-sans-font-folder: 'assets/fonts/';

/* Register fonts */
@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url($open-sans-font-folder + 'open-sans-v17-latin-regular.woff2') format('woff2'),
        url($open-sans-font-folder + 'open-sans-v17-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: italic;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url($open-sans-font-folder + 'open-sans-v17-latin-italic.woff2') format('woff2'),
        url($open-sans-font-folder + 'open-sans-v17-latin-italic.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url($open-sans-font-folder + 'open-sans-v17-latin-800.woff2') format('woff2'),
        url($open-sans-font-folder + 'open-sans-v17-latin-800.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
        url($open-sans-font-folder + 'open-sans-v17-latin-800italic.woff2') format('woff2'),
        url($open-sans-font-folder + 'open-sans-v17-latin-800italic.woff') format('woff');
}

/* Set global font */
html {
	font-family: 'Open Sans';
	font-size: 16px;
}